*{

margin:0;
padding:0;

}



.login{

position:absolute;
right:19px;
top:60px;
border-bottom-left-radius: 210px;
  background: ;
padding:10px;
  width: 800px;
  height: 160px;
  background: rgba(0, 0, 0, 0.7);
  overflow:hidden;
visibility:hidden;


}

.login.active{

visibility:visible;


}

#fname{

border:2px solid #3498db;
border-radius:20px;
height:20px;
background:none;
color:white;
outline:none;

text-align:center;
}

#lname{

border:2px solid #3498db;
border-radius:20px;
background:none;
height:20px;
color:white;
outline:none;

text-align:center;

}

#lname:focus, #fname:focus{

width:190px;
border-color:#2ecc71

}

#btnLogin{

  border:2px solid #2ecc71;
  border-radius:20px;
  background:none;
  height:20px;
  width:85px;
  color:white;
  outline:none;
  text-align:center;
  position:relative;
  left:250px;
  cursor:pointer;

}

#btnLogin:hover{

background-color:#2ecc71;

}

#login{

position:relative;
left:25%;

}

.register{

position:absolute;
right:19px;
top:60px;
border-bottom-left-radius: 210px;
  background: ;
padding:10px;
  width: 300px;
  height: 160px;
  background: rgba(0, 0, 0, 0.7);
  overflow:hidden;
visibility:hidden;


}

.register.active{

visibility:visible;


}

#fname2{

border:2px solid #3498db;
border-radius:20px;
height:20px;
background:none;
color:white;
outline:none;
text-align:center;
}

#lname2{

border:2px solid #3498db;
border-radius:20px;
background:none;
height:20px;
color:white;
outline:none;

text-align:center;

}

#lname2:focus, #fname2:focus{

width:190px;
border-color:#2ecc71

}

#btnRegister{

  border:2px solid #2ecc71;
  border-radius:20px;
  background:none;
  height:20px;
  width:85px;
  color:white;
  outline:none;
  text-align:center;
  position:relative;
  left:125px;
  cursor:pointer;

}

#btnRegister:hover{

background-color:#2ecc71;

}

#register{

position:relative;
left:25%;

}




body{

font-family:Arial, Helvetica, sans-serif;
background: #333;
color:#ffff;
line-height:1.6;
height:100vh;

}

.container{

width:100%;
height:100%;
overflow-y:scroll;
scroll-behavior:smooth;
scroll-snap-type:y mandatory;

}

.navbar{

position:fixed;
top:0;
z-index:1;
display:flex;
width:99%;
height:60px;
background: rgba(0, 0, 0, 0.7);

}

.navbar ul{

display:flex;
list-style:none;
width:100%;
justify-content:center;

}

.navbar ul li{

margin:0 1rem;
padding:1rem;

}

.navbar ul li a{

text-decoration:none;
text-transform:uppercase;
color:#f4f4f4;

}

.navbar ul li a:hover{

color:skyblue;

}

section{
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
text-align:center;
width:100%;
height:100vh;
scroll-snap-align: center;
}

section h1{
font-size:4rem;

}

section p{

font-size:1rem;

}

section#home {
  background: url('https://wallpaperplay.com/walls/full/1/b/e/366897.jpg') no-repeat center center/cover;;
}

section#about {
  background: url('https://i.pinimg.com/originals/33/f3/bd/33f3bda341b51f505bb54f10b5e83b2f.jpg') no-repeat center center/cover;;
}

section#Movies {
  background: url('https://wallpaperset.com/w/full/2/d/7/166152.jpg') no-repeat center center/cover;;
}

section#contact {
  background: url('https://images.unsplash.com/photo-1540842567536-90d4ffd20637?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80') no-repeat center center/cover;;
}

--------------ENDE------------------


.pelicula-principal {
	font-size: 16px;
	min-height: 40.62em;
	color: #fff;
	background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0,0,0,.50) 100%), url(../img/backdrop.jpg);
	background-position: center center;
	background-size: cover;
	margin-bottom: 3.12em;
	display: flex;
	align-items: end;
}

.pelicula-principal .contenedor {
	margin: 0 auto;
	margin-bottom: 6.25em;
}

.pelicula-principal .titulo {
	font-weight: 600;
	font-size: 3.12em;
	margin-bottom: 0.4em;
}

.pelicula-principal .descripcion {
	font-weight: normal;
	font-size: 1em;
	line-height: 1.75em;
	max-width: 50%;
	margin-bottom: 1.25em;
}

.pelicula-principal .boton {
	background: rgba(0,0,0, 0.5);
	border: none;
	border-radius: 0.31em;
	padding: 0.93em 1.87em;
	color: #fff;
	margin-right: 1.25em;
	cursor: pointer;
	transition: .3s ease all;
	font-size: 1.12em;
}

.pelicula-principal .boton:hover {
	background: #fff;
	color: #000;
}

.pelicula-principal .boton i {
	margin-right: 1.25em;
}

/* ---- ----- ----- Contenedor Titulo y Controles ----- ----- ----- */
.contenedor-titulo-controles {
	display: flex;
	justify-content: space-between;
	align-items: end;
}

.contenedor-titulo-controles h3 {
	color: #fff;
	font-size: 30px;
}

.contenedor-titulo-controles .indicadores button {
	background: #fff;
	height: 3px;
	width: 10px;
	cursor: pointer;
	border: none;
	margin-right: 2px;
}

.contenedor-titulo-controles .indicadores button:hover,
.contenedor-titulo-controles .indicadores button.activo {
	background: red;
}


/* ---- ----- ----- Contenedor Principal y Flechas ----- ----- ----- */
.peliculas-recomendadas {
	margin-top:20px;
}

.peliculas-recomendadas .contenedor-principal {
	display: flex;
	align-items: center;
	position: relative;
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda,
.peliculas-recomendadas .contenedor-principal .flecha-derecha {
	position: absolute;
	border: none;
	background: rgba(0,0,0,0.3);
	font-size: 40px;
	height: 50%;
	top: calc(50% - 25%);
	line-height: 40px;
	width: 50px;
	color: #fff;
	cursor: pointer;
	z-index: 500;
	transition: .2s ease all;
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda:hover,
.peliculas-recomendadas .contenedor-principal .flecha-derecha:hover {
	background: rgba(0,0,0, .9);
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda {
	left: 0;
}

.peliculas-recomendadas .contenedor-principal .flecha-derecha {
	right: 0;
}

/* ---- ----- ----- Carousel ----- ----- ----- */
.peliculas-recomendadas .contenedor-carousel {
	width: 100%;
	padding: 20px 0;
	overflow: hidden;
	scroll-behavior: smooth;
}

.peliculas-recomendadas .contenedor-carousel .carousel {
	display: flex;
	flex-wrap: nowrap;
}

.peliculas-recomendadas .contenedor-carousel .carousel .pelicula {
	min-width: 20%;
	transition: .3s ease all;
	box-shadow: 5px 5px 10px rgba(0,0,0, .3);
}

.peliculas-recomendadas .contenedor-carousel .carousel .pelicula.hover {
	transform: scale(1.2);
	transform-origin: center;
}

.peliculas-recomendadas .contenedor-carousel .carousel .pelicula img {
	width: 100%;
	vertical-align: top;
}

/* ---- ----- ----- Media Queries ----- ----- ----- */
@media screen and (max-width: 800px) {
	header .logotipo {
		margin-bottom: 10px;
		font-size: 30px;
	}

	header .contenedor {
		flex-direction: column;
		text-align: center;
	}

	.pelicula-principal {
		font-size: 14px;
	}

	.pelicula-principal .descripcion {
		max-width: 100%;
	}

	.peliculas-recomendadas .contenedor-carousel {
		overflow: visible;
	}

	.peliculas-recomendadas .contenedor-carousel .carousel {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 20px;
	}

	.peliculas-recomendadas .indicadores,
	.peliculas-recomendadas .flecha-izquierda,
	.peliculas-recomendadas .flecha-derecha {
		display: none;
	}
}

#MoreMovies{

text-decoration:none;
color:white;

}
